In [ ]:
#1.Implement the methods of String with examples.

text='PiYuSh ThE LeGeNd'

print("Uppercase: ",text.upper())
print("Lowercase: ",text.lower())
print("Title: ",text.title())
print("Swapcase: ",text.swapcase())
print("Capital: ",text.capitalize())
print("Original: ",text)


print("After Padding String: ",text.center(24))
print("After Padding String with '#': ",text.center(24,"#"))
print("Count of 'e' character: ",text.count('e'))
print("Substring 'ThE' found at index:: ",text.find('ThE'))
print("The first position of geeks after 2nd index : ",text.index('e',2))


string = "ssspiyushssss"
print(string.rstrip('s'))
print(string.lstrip('s'))
print(string.strip('s'))

Uppercase:  PIYUSH THE LEGEND
Lowercase:  piyush the legend
Title:  Piyush The Legend
Swapcase:  pIyUsH tHe lEgEnD
Capital:  Piyush the legend
Original:  PiYuSh ThE LeGeNd
After Padding String:     PiYuSh ThE LeGeNd
After Padding String with '#':  ###PiYuSh ThE LeGeNd####
Count of 'e' character:  2
Substring 'ThE' found at index::  7
The first position of geeks after 2nd index :  12
ssspiyush
piyushssss
piyush

In [ ]:
#2.Implement the methods of List with examples.

boyz=['piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad']
print(boyz)

boyz.append("shubham")
print(boyz)

x = boyz.count("tejas")
print(x)

x = boyz.index("tejas")
print(x)

crik=['virat', 'rohit', 'bumrah', 'shami']
boyz.extend(crik)
print(boyz)

boyz.pop(8)
print(boyz)

boyz.remove('bumrah')
print(boyz)

boyz.reverse()
print(boyz)

boyz.sort()
print(boyz)

['piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad']
['piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad', 'shubham']
1
4
['piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad', 'shubham', 'virat', 'rohit', 'bumrah', 'shami']
['piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad', 'shubham', 'rohit', 'bumrah', 'shami']
['piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad', 'shubham', 'rohit', 'shami']
['shami', 'rohit', 'shubham', 'varad', 'swanand', 'tejas', 'aman', 'anvesh', 'rutvik', 'piyush']
['aman', 'anvesh', 'piyush', 'rohit', 'rutvik', 'shami', 'shubham', 'swanand', 'tejas', 'varad']

In [ ]:
#3.Implement the methods of Tuple with examples.

boyz=('piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad')
print(boyz)

print(boyz[1])

crik=('virat', 'rohit', 'bumrah', 'shami')
mixed=crik+boyz
print(mixed)

subset = mixed[1:4]
print(subset)

length = len(mixed)
print(length)

print('anvesh' in mixed)
print('bhuvi' in mixed) 

index = mixed.index('piyush')
print(index)

('piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad')
rutvik
('virat', 'rohit', 'bumrah', 'shami', 'piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad')
('rohit', 'bumrah', 'shami')
11
True
False
4

In [ ]:
#4.Implement the methods of Dictionary with examples.

person = {'name': 'Piyush', 'age': 22, 'city': 'Wardha'}
print(person['name'])

person = {'name': 'Piyush', 'age': 23}
person['city'] = 'Pune' 
person['age'] = 22  
print(person)

del person['age']
print(person)

length = len(person)
print(length)

keys = person.keys()
values = person.values()
print(keys)  
print(values)

for key in person:
    print(key)

for value in person.values():
    print(value) 

print('name' in person)
print('country' in person)

Piyush
{'name': 'Piyush', 'age': 22, 'city': 'Pune'}
{'name': 'Piyush', 'city': 'Pune'}
2
dict_keys(['name', 'city'])
dict_values(['Piyush', 'Pune'])
name
city
Piyush
Pune
True
False

In [ ]:
#5.Implement the methods of Set with examples.

boyz={'piyush', 'rutvik', 'anvesh', 'aman', 'tejas', 'swanand', 'varad'}
print(boyz)

boyz.add('akash')
print(boyz)

boyz.remove('akash')
print(boyz)

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
union_set = set1.union(set2)
print(union_set) 

# Intersection
intersection_set = set1.intersection(set2)
print(intersection_set) 

# Difference
difference_set = set1.difference(set2)
print(difference_set)

for i in boyz:
    print(i)

{'varad', 'swanand', 'piyush', 'aman', 'tejas', 'anvesh', 'rutvik'}
{'akash', 'varad', 'swanand', 'piyush', 'aman', 'tejas', 'anvesh', 'rutvik'}
{'varad', 'swanand', 'piyush', 'aman', 'tejas', 'anvesh', 'rutvik'}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
varad
swanand
piyush
aman
tejas
anvesh
rutvik

In [ ]:
#6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

decimal=int(input("Enter number "))

print("Decimal:", decimal)
print("Binary:", bin(decimal))
print("Octal:", oct(decimal))
print("Hexadecimal:", hex(decimal))

Enter number 67
Decimal: 67
Binary: 0b1000011
Octal: 0o103
Hexadecimal: 0x43

In [ ]:
#7.Implement Arithmetic operators with examples.

a=15
b=5

#Add
print(a+b)

#Subtract
print(a-b)

#Multiply
print(a*b)

#Division
print(a/b)

#Modulus
print(a%b)

#Exponent
print(a**b)

#Floor division
print(a//b)

20
10
75
3.0
0
759375
3

In [ ]:
#8.Implement Assignment operators with examples.

a=15
b=5
a+=b
print(a)

a-=b
print(a)

a*=b
print(a)

a/=b
print(a)

a=100
a%=b
print(a)

a=5
a**=b
print(a)

a//=b
print(a)

a&=b
print(a)

a|=b
print(a)

a^=b
print(a)

a>>=b
print(a)

a<<=b
print(a)

20
15
75
15.0
0
3125
625
1
5
0
0
0

In [ ]:
#9.Implement Comparison operators with examples.  

a=18
b=7

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [ ]:
#10.Implement Logical operators with examples.

a=7
b=7

print(a>6 and a<10)

print(a>4 or b<7)

print(not(a and b))

True
True
False

In [ ]:
#11.Implement Bitwise operators with examples.

a=5 
b=5

print(a&b)

print(a|b)

print(a^b)

print(~a)

#Shift left by pushing zeros in from the right and let the leftmost bits fall off
print(a<<b)

#Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(a>>b)

5
5
0
-6
160
0

In [ ]:
#12.Implement Membership operators with examples.

x=[1,2,3,4,5,6,7,8]
y=[1,"piyush"]

print(7 in x)
print("piyush" in y)

True
True

In [ ]:
#13.Implement Identity operators with examples

print(x is y)
print(x is not y)

False
True

In [ ]:
#14.Demonstrate Negative indexing for List and apply slicing.

list=[1,2,3,4,5,6]
print(list[::-1])
print(list[0:4])
print(list[-6:-1])

[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
#15.Predict the output for the given code snippet and justify the result.

str='A series of characters designated as one object known as a string'
print(str[::-1][4:3])

print("-----------------")

print("Welcome to Python training Program"[3:10][::-1])

-----------------
ot emoc

In [2]:
#16.Write a python code to get desired output
p_phrase="was it a car or a cat i saw"
print(p_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17.You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.
#The generatedword similar to ZOO where Y= 2* X.
#Input X=2 Output=ZZOOOO
#Input X=5 Output=ZZZZZOOOOOOOOOO

x=int(input("Enter Number "))
y=2*x

for x in range(x):
    print("Z",end="")
for y in range(y):
    print("O",end="")

Enter Number 4
ZZZZOOOOOOOO

In [ ]:
#18.Matrix Subtraction, Addition, Multiplication

#Matrix Addition
Matrix1=[[1,2,3],[4,5,6],[7,8,9]]
Matrix2=[[9,8,7],[6,5,4],[3,2,1]]

Matrix3=[]

for i in range(len(Matrix1)):
    row=[]
    for j in range(len(Matrix1[i])):
        row.append(Matrix1[i][j]+Matrix2[i][j])
    Matrix3.append(row)
print(Matrix3)    
    
    
#Matrix Subtraction
Matrix1=[[1,2,3],[4,5,6],[7,8,9]]
Matrix2=[[9,8,7],[6,5,4],[3,2,1]]

Matrix3=[]

for i in range(len(Matrix1)):
    row=[]
    for j in range(len(Matrix1[i])):
        row.append(Matrix1[i][j]-Matrix2[i][j])
    Matrix3.append(row)
print(Matrix3)    

#Matrix Multiplication
Matrix1=[[1,2,3],[4,5,6],[7,8,9]]
Matrix2=[[9,8,7],[6,5,4],[3,2,1]]

Matrix3=[]

for i in range(len(Matrix1)):
        row = []
        for j in range(len(Matrix2[0])):
            sum = 0
            for k in range(len(Matrix2)):
                sum += Matrix1[i][k] * Matrix2[k][j]
            row.append(sum)
        Matrix3.append(row)
print(Matrix3)

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]
[[-8, -6, -4], [-2, 0, 2], [4, 6, 8]]
[[30, 24, 18], [84, 69, 54], [138, 114, 90]]