<a href="https://colab.research.google.com/github/PiyushSendurse/Piyush_AIMLBootcamp_Genzeon_2023/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("Enter number "))
print(a)

b=input("Enter string ")
print(b)

#string format
name="genzeon"
language="python"
c="trainees"

print(c," are learning ",language," programming at ",name)

#format 
print("{} are learning {} programming at {}".format(c,language,name))
print("{1} are learning {2} programming at {0}".format(c,language,name))

#placeholder
print("%s are learning %s programming at %s"%(c,language,name))

#Rawstring
print(f"{c} are learning {language} at {name}")

Enter number 6
6
Enter string hii
hii
trainees  are learning  python  programming at  genzeon
trainees are learning python programming at genzeon
python are learning genzeon programming at trainees
trainees are learning python programming at genzeon
trainees are learning python at genzeon

In [ ]:
#tuple
tup0=(1,2,3,4,5,6,7)
tup1=("hi",1.4,7)
tup2=("hello",tup0,tup1)

#indexing
print(tup2[2][0])
print(tup2[-3])

#slicing
print(tup2[0][1:3])

#tuple methods
print(tup0.count(1))
print(tup0.index(2))
print(max(tup0))
print(min(tup0))
print(len(tup0))

In [ ]:
#sets
s1={1,3}
s2={1,2,3,"hi",(1,2,3,4)}

l=[1,3,5,7]
s3=set(l)
print(s3)

s1.add(2)
print(s1)

s1.update([2,3,4])
print(s1)

s1.discard(4)
print(s1)

# s1.remove(4)
# print(s1)

#set operation
a={1,2,3,4}
b={4,5,6,7}

#union
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))

#Difference
print(a-b)
print(b-a)
print(a.difference(b))
print(b.difference(a))

{1, 3, 5, 7}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{4}
{4}
{1, 2, 3}
{5, 6, 7}
{1, 2, 3}
{5, 6, 7}

In [ ]:
#Dictionary
dic={'name':'srk','phno':123456789,'address':'hyd'}
print(dic['name'])
print(dic.keys())
print(dic.values())
print(dic.get('name'))

srk
dict_keys(['name', 'phno', 'address'])
dict_values(['srk', 123456789, 'hyd'])
srk

In [ ]:
#Decision Making
var=10
if var>0:
  print("True")
  print(var)

True
10

In [ ]:
#ifelse
var1=-1
if var>0 :
  print("true")
else:
  print("false")

true

In [ ]:
#nested if

age=int(input("Enter Age " ))
if age<15 :
  print("Half Ticket")
elif age<18 :
  print("Adult")
elif age<30 :
  print("Enjoy")
else:
  print("OLD")

Enter Age 56
OLD

In [ ]:
#loops

#For Loop
ln=[12,43,65,7,9,43,76,8,16,90]
sum=0
for val in ln:
  sum+=val
print("Sum ",sum)

for i in range(1,11):
  print(i)

Sum  369
1
2
3
4
5
6
7
8
9
10

In [ ]:
num=int(input("Enter number for table "))
i=1
while(i<=num):
  print(f"Table {i}")
  j=1
  while(j<11):
    print(f"{i}*{j}={i*j}")
    j+=1
  print("________________________________________")
  i+=1

Enter number for table 7
Table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
________________________________________
Table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
________________________________________
Table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
________________________________________
Table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
________________________________________
Table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
________________________________________
Table 6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
________________________________________
Table 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
________________________________________

In [ ]:
#Control Staements

#Break
for l in "python":
  if l=='h':
    break
  print("Current Letter ",l)

int1=10
while(int1>0):
  print("Current Values ",int1)
  int1-=1
  if(int1==5):
    continue

Current Letter  p
Current Letter  y
Current Letter  t
Current Values  10
Current Values  9
Current Values  8
Current Values  7
Current Values  6
Current Values  5
Current Values  4
Current Values  3
Current Values  2
Current Values  1

In [1]:
#pass
for l in "python":
    if l=="h":
        pass
        print("pass block")
    print(l)

p
y
t
pass block
h
o
n

In [2]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z