<a href="https://colab.research.google.com/github/PiyushSendurse/Piyush_AIMLBootcamp_Genzeon_2023/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
print('piyush')

piyush

In [1]:
#List
list=[1,2,3,4]
print(list)

[1, 2, 3, 4]

In [2]:
#Tuple
tuple=(1,2,3,4)
print(tuple)

(1, 2, 3, 4)

In [8]:
#Dictionary
dict={'name1':"Piyush", 'name2':"Rutvik", 'name3':"Aman", 'name4':"Anvesh", 'name5':"Tejas"}
print(dict)

{'name1': 'Piyush', 'name2': 'Rutvik', 'name3': 'Aman', 'name4': 'Anvesh', 'name5': 'Tejas'}

In [9]:
dict={'name':"Piyush", 'name':"Rutvik", 'name':"Aman", 'name':"Anvesh", 'name':"Tejas"}
print(dict)

{'name': 'Tejas'}

In [16]:
#Byte Array
x= bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [18]:
#Type Conversion
a=3
b=5.7
#Implicit
e=a+b
print(e)

8.7

In [19]:
a=10
b=2+3j
print(a)
print(b)
print(b.real)
print(b.imag)
c=complex(10,20)
print(c)

10
(2+3j)
2.0
3.0
(10+20j)

In [22]:
x="Piyush"
print(bool(x))
y=0
print(bool(y))

True
False

In [26]:
a=5
b=15
print(a+b)
print(a-b)
print(a*b)
print(a/b) # will give float answer 
print(a%b)
print(a//b) # will give int answer
print(a**b) #power

20
-10
75
0.3333333333333333
5
0
30517578125

In [27]:
#Logical Operator
x=True
y=False
print("x and y is", x and y)
print("x or y is", x or y)
print("x not is", not x)

x and y is False
x or y is True
x not is False

In [28]:
a=11
b=12
print(a&b)
print(a|b)
print(a^b)
print(~a)#Not
print(a>>2)
print(a<<2)

8
15
7
-12
2
44

In [30]:
my_str=" My name is Piyush with capital P "
print(my_str.upper())
print(my_str.lower())
print(my_str.title())
print(my_str.swapcase())
print(my_str.capitalize())
print(my_str.lstrip())
print(my_str.rstrip())
print(my_str.strip())

 MY NAME IS PIYUSH WITH CAPITAL P
 my name is piyush with capital p
 My Name Is Piyush With Capital P
 mY NAME IS pIYUSH WITH CAPITAL p
 my name is piyush with capital p
My name is Piyush with capital P
 My name is Piyush with capital P
My name is Piyush with capital P

In [31]:
a="HIHIhi"
b="It's Piyush"
print(a+b)
print(a*2)

HIHIhiIt's Piyush
HIHIhiHIHIhi

In [33]:
list=[1,2,3,4]
my_list=[1,"hello",3,4]
nest_list=[5,6,my_list,list]
print(list)
print(my_list)
print(nest_list)
print("*****************************")
print(nest_list[2][1][1:4])

[1, 2, 3, 4]
[1, 'hello', 3, 4]
[5, 6, [1, 'hello', 3, 4], [1, 2, 3, 4]]
*****************************
ell

In [34]:
cricket=["virat","rohit","bumrah","shami"]
print(cricket)
cricket.append("gill")
print(cricket)
cricket.insert(2,"klrahul")
print(cricket)
cricket.remove("shami")
print(cricket)
cricket.reverse()
print(cricket)

['virat', 'rohit', 'bumrah', 'shami']
['virat', 'rohit', 'bumrah', 'shami', 'gill']
['virat', 'rohit', 'klrahul', 'bumrah', 'shami', 'gill']
['virat', 'rohit', 'klrahul', 'bumrah', 'gill']
['gill', 'bumrah', 'klrahul', 'rohit', 'virat']

In [35]:
num=[10,12,4,56,9,4,7,6,44]
print(min(num))
print(max(num))
print(sorted(num))
print(sum(num))
print(sum(num[:4]))

4
56
[4, 4, 6, 7, 9, 10, 12, 44, 56]
152
82